/* COLORS 
background purple #5A2B5F
perfect gold	  #FFD700
*/
body{
	height: 100%;
	width: 100%;
	display: flex;
    background-color: palevioletred;
	
}
h1{
    text-align: center;
}
.body{
    width: 300px;
	height: 300px;
	background-color: black;
	border-radius: 300px;
    position: relative;
    top: 270px;
    left: -150px;

}
.face{
	width: 200px;
	height: 200px;
	background-color: black;
	border-radius: 300px;
    position: relative;
    top: 100px;
    left: 100px;
}
.right-eye{
    width: 0; 
    height: 0; 
    top: 50px;
    left: 125px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: relative;
    border-top: 20px solid yellow;
    z-index: 1;
}
.left-eye{
    width: 0; 
    height: 0; 
    top: 30px;
    left: 55px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: relative;
    border-top: 20px solid yellow;
    z-index: 1;
}

.mouth{
    width: 75px;
    height: 50px;
    border: solid 1px black;
    border-radius: 0 0 45px 45px;
    margin: 16px;
    position: relative;
    top: 4em;
    left: 4em;
    background-color: white;

}

.right-tooth{
    width: 0; 
    height: 0; 
    top: -10px;
    left: 40px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: relative;
    border-top: 20px solid black;
    z-index: 1;
}
.left-tooth{
    width: 0; 
    height: 0; 
    top: -30px;
    left: 5px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: relative;
    border-top: 20px solid black;
    z-index: 1;
}

.hat{
    width: 0; 
    height: 0;
    top:30px;
    left:300px; 
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    position: relative;
    border-bottom: 100px solid orange;
    z-index: 1;
    border-radius: 2px;
}
.left-foot{
    position: relative;
            top: 300px;
            left: 75px;
            transform: translate(-50%, -50%);
            height: 75px;
            width: 100px;
            border-radius: 150px 150px 0 0;
            background-color: white;
}
.right-foot{
    position: relative;
            top: 225px;
            left: 220px;
            transform: translate(-50%, -50%);
            height: 75px;
            width: 100px;
            border-radius: 150px 150px 0 0;
            background-color: white;
}

.left-ear{
    position: relative;
            top: 100px;
            left: 265px;
            transform: translate(-50%, -50%);
            height: 40px;
            width: 50px;
            border-radius: 150px 150px 0 0;
            background-color: white;
}

.right-ear{
    position: relative;
            top: 100px;
            left: 280px;
            transform: translate(-50%, -50%);
            height: 40px;
            width: 50px;
            border-radius: 150px 150px 0 0;
            background-color: white;
}

.tail{
    position: relative;
    left: -20px;
    width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid white;
	border-bottom: 25px solid transparent;
    z-index: -1;
}